<div style="text-align: right; margin: 15px;">
    <p-button label="Go to Checkout page" icon="pi pi-fw pi-wallet" (click)="goToCheckout()"></p-button>
</div>
<p-table #dt [value]="cartList" [rowHover]="true" [rows]="10" [paginator]="true">
    <ng-template pTemplate="header">
        <th>
            <p class="title-style">Product Name</p>
        </th>
        <th>
            <p class="title-style">Product Image</p>
        </th>
        <th>
            <p class="title-style">Price</p>
        </th>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                {{product.title}}
            </td>
            <td>
                <img [alt]="product.title" [src]="product.imageUrl" height="40" style="vertical-align: middle" />
            </td>
            <td>
                {{product.price | currency:'INR':'symbol'}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3">No Products found.</td>
        </tr>
    </ng-template>
</p-table>